.container-fluid.bg-light.mb-3
  %nav.navbar.navbar-expand.navbar-light.justify-content-between
    %a.navbar-brand{ href: "#"}be-a-chef
    %ul.navbar-nav
      %li.nav-item
        =link_to "ユーザー名", "#", class: "nav-link"
      %li.nav-item
        =link_to "レシピ一覧", "#", class: "nav-link"