.container
  %h3.text-center ログイン
  .form.bg-light.w-50.mx-auto.p-3
    .form-group
      %label メールアドレス
      %input.form-control{ type: "email", name: "name" }
    .form-group
      %label パスワード
      %input.form-control{ type: "password", name: "name" }
    .btn.btn-primary{ type: "submit" } ログインする