.container
  %h3.text-center ユーザー登録
  .form.bg-light.w-50.mx-auto.p-3
    .form-group
      %label ユーザー名
      %input.form-control{ type: "text", name: "name" }
    .form-group
      %label メールアドレス
      %input.form-control{ type: "email", name: "name" }
    .form-group
      %label パスワード
      %input.form-control{ type: "password", name: "name" }
    .form-check.mb-3
      %input.form-check-input{ type: "checkbox", id: "remember_me" }
      %label.form-check-label{ for: "remember_me"} 次回から自動でログインする
    .btn.btn-primary{ type: "submit" } 登録する